<nav class="navbar">
  <h2 class="navbar__logo">
    <div class="navbar__logo-img">
      <img src="/public/images/shadownet logo3.png" alt="">
    </div>
    <span>HackerNET</span>
  </h2>

  <ul class="navbar__list">

  <% if(!isAuth)  { %>
    <li class="navbar__listItem">
      <a 
        href="/auth/login" 
        class="<%= link === "Login" ? "active": null %>"
      >
        Login
      </a>
    </li>
    <li class="navbar__listItem">
      <a 
        href="/auth/register" 
        class="<%= link === "Register" ? "active": null %>"
      >
        Register
      </a>
    </li>
  <% } else { %>
    <li class="navbar__listItem">
      <a 
        href="/feed" 
        class="<%= link === "Feed" ? "active": null %>"
      >
        Feed
      </a>
    </li>
    <li class="navbar__listItem">
      <a 
        href="/forums/" 
        class="<%= link === "Forums" ? "active": null %>"
      >
        Forums
      </a>
    </li>
    <li class="navbar__listItem">
      <a 
        href="/users/myprofile"
        class="<%= link === "Profile" ? "active": null %>"
      > 
        Profile
      </a>
    </li>
    <li class="navbar__listItem">
      <a 
        href="/auth/logout"
      >
        Logout
      </a>
    </li>
  <% } %>

  </ul>
</nav>