<div class="thread__container">
  <div class="thread__header">

    <div class="thread__info">
      <div class="avatar">
        <img src="/<%= data.forum_image %>" alt="forum-logo">
      </div>

      <h4><%= data.forum_title %></h4>
    </div>

    <p class="thread__creator"><%= data.creator_fname %> <%=  data.creator_lname  %></p>

  </div>

  <% if(data.thread_image) { %>
    <div class="thread__image">
      <img src="/<%= data.thread_image %>" alt="code snippet">
    </div>
  <% } %>

  <h4 class="thread__title"><%= data.thread_title %></h4>

  <p class="thread__text"><%= (new Date(data.created_at)).toISOString().split("T")[0] %></p>

  <p class="thread__text"><%= data.body %></p>

  <a href="/threads/<%= data.thread_id %>" class="btn btn-primary btn-block">View</a>

</div>