<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "Feed" }) %>

<div class="container">

  <div class="feed__header">
    <h1 class="page__title">Feed Page</h1>

    <a href="/threads/new" class="btn btn-secondary">Create Thread</a>
  </div>

  <%- include("./partials/thread.ejs") %>
  <%- include("./partials/thread.ejs") %>
  <%- include("./partials/thread.ejs") %>

</div>


<%- include('./partials/footer.ejs') %>