<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "" }) %>

<div class="container">
  <div class="single_thread_header">
    <h1 class=" page__title">Forum Page</h1>

    <% if(isAdmin) { %>
      <div class="single_thread_controls">
        <a href="/forums/1/edit" class="btn btn-secondary">Edit</a>

        <form action="">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    <% } %>
  </div>

  <div class="profile__img">
    <img src="/public/images/c3_logo.png" alt="avatar image">
  </div>

  <div class="profile__info">
    <div>
      <span>Title:</span>
      <span>CSharp</span>
    </div>
    <div>
      <span>Description:</span>
      <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis laborum voluptate sint vel doloremque dignissimos fuga, qui corporis et harum fugit nostrum iusto, inventore quisquam?</span>
    </div>
    <div>
      <span>Followers</span>
      <span><%= followers %></span>
    </div>
  </div>

  <h4 class="profile__subtext">Total Threads (<%= threadCount %>)</h4>

  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>
  <%- include('./partials/thread.ejs') %>

</div>

<%- include('./partials/footer.ejs') %>