<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "" }) %>

<div class="container">
  <div class="single_thread_header">
    <h1 class=" page__title">Forum Page</h1>

    <% if(isAdmin) { %>
      <div class="single_thread_controls">
        <a href="/forums/<%= forumData.forum_id %>/edit" class="btn btn-secondary">Edit</a>

        <form action="">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    <% } %>
  </div>

  <div class="profile__img">
    <img src="/<%= forumData.image_url %>" alt="avatar image">
  </div>

  <div class="profile__info">
    <div>
      <span>Title:</span>
      <span><%= forumData.title %></span>
    </div>
    <div>
      <span>Description:</span>
      <span><%= forumData.description %></span>
    </div>
    <div>
      <span>Followers</span>
      <span><%= followerCount %></span>
    </div>
  </div>

  <h4 class="profile__subtext">Total Threads (<%= threads.length %>)</h4>

  <% threads.forEach(thread => { %>
    <%- include('./partials/thread.ejs', { thread }) %>
  <% }) %>

</div>

<%- include('./partials/footer.ejs') %>