<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "Profile" }) %>

<div class="container">
  <h1 class="profile__header page__title">Profile Page</h1>

  <div class="profile__img">
    <img src="/public/uploads/avatar_image.png" alt="avatar image">
  </div>

  <div class="profile__info">
    <div>
      <span>First Name:</span>
      <span><%= firstName %></span>
    </div>
    <div>
      <span>Last Name:</span>
      <span><%= lastName %></span>
    </div>
    <div>
      <span>Email Address:</span>
      <span><%= email %>></span>
    </div>
  </div>

  <h4 class="profile__subtext">Your Threads (<%= threads.length %>)</h4>

  <% if(threads.length > 0) { %>
    <% threads.forEach((thread) => { %>
      <%- include('./partials/thread.ejs', { thread }) %>
    <% }) %>
  <% } %>
</div>

<%- include('./partials/footer.ejs') %>