<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "Register" }) %>

<form class="auth_form" action="/auth/register" method="POST">
  <h1>Register Page</h1>

  <% if(error.length > 0) { %>
    <% error.forEach((err) => { %>
      <p class="error-message"><%= err %></p>
    <% }) %>
  <% } %>

  <div class="form_group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      required
      placeholder="Enter first name"
      name="firstName"
      id="firstName"
      value="<%= enterFName %>"
    />
  </div>

  <div class="form_group">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      required
      placeholder="Enter last name"
      name="lastName"
      id="lastName"
      value="<%= enterLName %>"
    />
  </div>

  <div class="form_group">
    <label for="email">Email</label>
    <input
      type="email"
      required
      placeholder="Enter email address"
      name="email"
      id="email"
      value="<%= enterEmail %>"
    />
  </div>

  <div class="form_group">
    <label for="confirmPassword">Password</label>
    <input
      type="password"
      required
      placeholder="Enter password"
      name="password"
      id="password"
      minlength="5"
    />
  </div>

  <div class="form_group">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      required
      placeholder="Confirm password"
      name="confirmPassword"
      id="confirmPassword"
    />
  </div>

  <button class="btn btn-primary btn-block">Register</button>

  <a href="/auth/login">Have account already? Click Here</a>
</form>

<%- include('./partials/footer.ejs') %>