<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "" }) %>

<div class="container">
  <div class="single_thread_header">
    <h1 class="page__title">Thread Page</h1>

    <% if(threadData.user_id === userId) { %>
      <div class="single_thread_controls">
        <a href="/threads/<%= threadData.thread_id  %>/edit" class="btn btn-secondary">Edit</a>

        <form action="/threads/<%= threadData.thread_id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    <% } %>
  </div>

  <% if(threadData.image_url) { %>
    <div class="single_thread_img">
      <img src="/<%= threadData.image_url %>" alt="thread image upload">
    </div>
  <% } %>

  <h4 class="single_thread_title"><%= threadData.title %></h4>

  <p class="single_thread_text"><%= (new Date(threadData.created_at)).toISOString().split("T")[0] %></p>

  <p class="single_thread_text"><%= threadData.body %></p>

  <div class="single_thread_comments">
    <div class="single_thread_title-container">
      <h4 class="single_thread_title">Comments (<%= threadComments.length %>)</h4>

      <a href="/comments/new/<%= threadData.thread_id %>" class="btn btn-secondary">Leave Comment</a>
    </div>

    <% threadComments.forEach((comment) => { %>
      <%- include('./partials/comment.ejs', { comment, userId }) %>
    <% }) %>

  </div>


</div>

<%- include('./partials/footer.ejs') %>

