<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "" }) %>

<div class="container">
  <div class="single_thread_header">
    <h1 class="page__title">Poll Page</h1>

    <% if(poll.user_id === userId) { %>
      <div class="single_thread_controls">
        <a href="/polls/<%= poll.poll_id  %>/edit" class="btn btn-secondary">Edit</a>

        <form action="/polls/<%= poll.poll_id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    <% } %>
  </div>

  <h4 class="single_thread_title"><%= poll.title %></h4>

  <p class="single_thread_text"><%= (new Date(poll.created_at)).toISOString().split("T")[0] %></p>

  <form
    action="/polls/vote/<%= poll_question.question_id %>" 
    method="POST"
    class="poll_submit_form"
  >

    <p class="poll__question"><%= poll_question.content %></p>

    <% poll_answers.forEach((answer, idx) => { %>
      <div class="poll__answers">
        <input 
          type="radio" 
          id="<%= answer.answer_id %>" 
          name="answer" 
          value="<%= answer.answer_id %>" 
          required
          <%= poll_vote && poll_vote.answer_id === answer.answer_id && 'checked'%>
        >
        <label for="<%= answer.answer_id %>"><%= answer.content %></label>
      </div>
    <% }); %>

    <button type="submit" class="btn btn-secondary">Submit Answer</button>

  </form>

</div>

<%- include('./partials/footer.ejs') %>

